<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Exemplo Atributos ThymeLeaf</title>

    <style>
        body{font-family: sans serif;
        text-align: center;
        margin-top: 50px;}

        .msg{border: 1px solid #ddd;
        padding: 20px;
        display: inline-block;
        border-radius: 8px;}
    </style>
</head>
<body>
    <h1>Dados Enviados</h1>
    <p th:text="${mensagem}" class="msg">Texto padrão caso não carregue a mensagem</p>
    <p>Ano: <strong th:text="${ano}">Texto padrão caso não carregue o ano</strong></p>
</body>
</html>